[2014-11-04 18:38] cart opened #5 "Use of depreciate Response methods"
I am pretty sure Response::with, Response::from_file, should all be replaced with the new Response::new().set(..).  Attempting to build gives depreciated errors.  I have swapped everything out and everything compiles, but I'm new to this code base and rust in general and I don't want to accidentally break things so I will hold off on a pull request.

[2014-11-11 07:08] #5 closed, assigned to nobody

[2014-11-11 07:08] reem opened #10 "Rename (yet again) to st, to avoid `static` keyword problems"

[2014-11-14 23:52] TheLQ opened #11 "Cannot compile on latest rustc nightly due to time crate"
Apparently the time crate is its own repository now

[code]

[2014-12-17 20:01] collinalexbell opened #15 "Broken due to dependencies Irontest -> into_vec"
My fork of static https://github.com/SlightlyCyborg/static works until my pull request for intovec gets accepted

[2014-12-17 20:04] collinalexbell opened #16 "iron mount is broken in cargo but fine in git"
Use git to get the mount dependency.

[2014-12-17 20:23] #15 closed, assigned to nobody

[2014-12-17 20:23] #11 closed, assigned to nobody

[2014-12-17 20:23] #16 closed, assigned to nobody

[2015-01-19 03:56] jihokoo opened #17 "issue with iron-test dependency"
I'm trying to use iron/static which has iron-test as a dependency.
This is taking into account your fix for mucell.

[code]

I just have the hello world example in my main.rs
[code]

Am I doing something wrong?

Thanks

[2015-01-22 07:41] ProtectedMode commented on #17
All code was outdated, but this should be fixed when #18 is pulled.

[2015-02-15 22:36] #10 closed

[2015-02-15 22:37] #17 closed

[2015-03-08 11:01] jen6 opened #28 "build fail in rust nightly"
rustc nightly 2015 - 03 - 07
error caused by using old_path

[2015-03-09 03:48] panicbit commented on #28
It will build again when #27 gets merged. :smile:

[2015-03-09 20:45] reem commented on #28
Fixed via #27

[2015-03-09 20:45] #28 closed

[2015-03-11 23:40] fuchsnj opened #29 "crates.io package not up to date"
[code]

[code]

[2015-03-12 00:09] fuchsnj commented on #29
it compiles fine when I use the git url in Cargo.toml
[code]

but not when I use the package from crates.io
[code]

[2015-03-12 00:15] #29 closed

[2015-03-12 02:40] reem commented on #29
I've updated the crates.io package as well, so that should work too now.

[2015-04-08 16:27] buster opened #32 "error: expected ident, found `"static"`"
In the current nightly this does not work... Is there a way to make it work?

[2015-04-08 16:27] buster commented on #32
Sorry, so the complete error is:

[code]

[2015-04-08 21:03] gsingh93 commented on #32
`extern crate "static" as static_file;` is no longer valid Rust, quotes are no longer allowed. However, since `static` is a keyword, you can't use it without the quotes either. The name of the library will have to be changed.

[2015-04-10 08:53] tsurai opened #33 "HttpDate change in Hyper"
Hyper has added a wrapper around time::Tm called HttpDate causing compile error in static_handler.rs because its trying to use time::Tm directly.

I wanted to fix the problem and open a pull requests but refrained from doing so when I noticed that Iron reexports parts of hyper instead of using hyper as a direct dependency for static. I don't know how you would prefer to get HttpDate from hyper int

[2015-04-11 02:32] reem commented on #33
Iron reexports hyper's header module as `iron::headers`, so you should be able to find everything there.

If you find that you need a type from hyper that isn't re-exported, I consider that a bug in Iron - it should be usable standalone.

[2015-05-08 21:35] reem commented on #32
Changed to `staticfile`.

[2015-05-08 21:35] #32 closed

[2015-05-08 21:35] reem commented on #33
Fixed in master.

[2015-05-08 21:35] #33 closed

[2015-05-12 18:31] gsquire opened #40 "Compression support"
Would you be interested in adding compression for this library or somewhere else in the Iron framework?

[2015-05-12 19:07] reem commented on #40
Compression is an ideal candidate for an AfterMiddleware, probably in another package. I can create iron/compress a bit later if you want to work on it?

[2015-05-12 22:34] gsquire commented on #40
Sounds good to me. I can study up on the workings of the AfterMiddleware some more and then go from there once it is up.

[2015-05-12 22:37] reem commented on #40
@gsquire created iron/compress, feel free to open issues/PRs there.

[2015-05-12 22:37] #40 closed

[2015-06-08 16:36] durka opened #45 "Version bump"
The `filetime` crate doesn't build on stable Rust, and the version of `staticfile` on crates.io doesn't allow deselecting the cache feature. Therefore this crate can't be used on stable Rust either. Can you bump the version and republish to crates.io so that cache can be optional?

[2015-07-16 15:13] fuchsnj opened #46 "500 internal server error if folder does not exist"
A 500 internal server error is returned if a folder along the path to a file does not exist.
It should return a 404

[2015-07-25 00:38] AlexanderElias opened #49 "Serving JS Files not Working"
Serving JS Files not Working on a Clean linux Server But works Locally on Mac.

I thought I was going crazy at first but there is definitely an issue. Or I missed something really foolish.

I spun up a vps on digitalocean installed rust, dependencies, and tested. Then I pull in the site code from my git repo. After cargo run and visiting my address and port the javascript  files just keep pending.

[2015-07-25 03:42] reem commented on #49
@AlexanderElias can you include code to reproduce or at least the full headers of the request and responses for the js files? Also, what do you mean by "not working"?

[2015-07-27 15:50] AlexanderElias commented on #49
Sorry it took me so long to respond I had a project I was trying to get finished up.

Yeah, here is a link to my project: <a href="https://github.com/AlexanderElias/cs-iron">https://github.com/AlexanderElias/cs-iron</a>
* Main.rs: <a href="https://github.com/AlexanderElias/cs-iron/blob/master/src/main.rs">https://github.com/AlexanderElias/cs-iron/blob/master/src/main.rs</a>
* Header.html: <a href=

[2015-08-10 18:32] phact commented on #49
I an having the exact same issue. Turns out Iron works fine as long as you have fewer than a certain number of files being requested at the same time by your HTML.

There is no issue on OSX just on linux.

[2015-08-10 18:34] phact commented on #49
@reem let me know if you need help testing or reproducing this issue. I have an environment set up.

[2015-08-10 19:19] phact commented on #49
More details, even when I do get it to serve a small app properly (with very few js dependencies), it will only serve to one client. Any other clients that try to make requests after the first has bound hang forever.

[2015-08-12 07:36] reem commented on #49
Thanks for all the further details, I will investigate this shortly and will post my progress.

[2015-08-18 10:18] ilkosta opened #50 "how to use staticfile with router?"
Hi,

I've tried to associate the Static handler to a the `get` of a route and a chain to the `post` as:

[code]

The goal is to make available a sample form to test a simple REST webservice.

The POST method work correctly, but the GET isn't working:

[code]

what is it that I'm missing?

[2015-08-18 11:20] ilkosta commented on #50
the toy project where I'm trying to use router+staticfile is https://github.com/ilkosta/odt2pdf

[2015-08-31 08:04] panicbit commented on #50
@ilkosta I guess the files you are trying to serve are not in "./odt2pdf/src/asset/html/" ? Because that's what's happening.
If you want to strip the "odt2pdf" path you can use [mount](https://github.com/iron/mount).

[2015-08-31 08:10] panicbit commented on #49
@AlexanderElias Tha sounds very much like a problem I had, caused by keep-alive connections exhausting the thread-pool. Try increasing the amount of threads to e.g. 100 and see if the problem persists.

[2015-09-29 14:52] aochagavia opened #52 "Many (all?) usages of AsRef<Path> could be replaced by Into<PathBuf>"
There are many places with code as this:

[code]

Which could be rewritten as shown below:

[code]

Since we wan't to have an owned object, I think this should be made explicit to the caller. The current code will for instance clone a `PathBuf` when it is passed as argument.

[2015-10-01 12:57] aochagavia opened #53 "Idea: add optional directory listing feature"
Currently, `staticfile` doesn't handle anything other than files. This means that if the URL points to a directory, `staticfile` will either serve a `index.html` file or it will return an error. I think it would be useful to provide a directory listing feature in cases where there is no `index.html`. Would this fit the scope of `staticfile`?

[2015-10-01 20:35] reem commented on #53
Yes, as long as the behavior was configurable, as there are certainly many cases where you do not want a directory listing to be publicly available.

[2015-10-02 19:13] ehiggs opened #54 "Staticfile treats all requests as GET."
Staticfile treats all requests as GET. E.g. HEAD should just return metadata but instead returns the whole file.

This was originally iron/mount#75

[2015-10-02 19:15] ehiggs commented on #53
Maybe with .htaccess files? Or .htaccess.toml?

[2015-10-03 00:00] reem commented on #54
Definitely. It would also be great if we did things like respond correctly to the `Range` header and other such niceties.

[2015-10-03 09:20] aochagavia commented on #53
Another alternative is to specify directly in the code the directories that will be served. None, all or a selection of directories.

[2015-10-23 06:50] gsquire commented on #46
I don't see this behavior. Could you post an example?

[2015-12-10 15:47] franza commented on #53
I implemented [this](https://github.com/franza/staticdir) a couple of days ago. Do you think that it can be merged into this repo?

[2015-12-10 18:01] franza opened #60 "Cannot request a file with a space in the name"
Assume you have a file `~/mount_dir/file with spaces.txt`. Then you request it using `staticfile` with URL like `http://localhost:3000/mount_dir/file%20with%20spaces.txt`. The `%20` characters are not decoded inside of the library so it will return 404.

[2015-12-11 12:29] franza commented on #60
I would like to contribute with a fix but building project fails with

[code]

I'm quite new to Rust so I'll appreciate if someone assists me with that.

[2015-12-11 13:32] franza commented on #60
Looks like I was able to fix that after I set `hyper = "0.7"` in `Cargo.toml`.

[2015-12-12 13:34] Dashed commented on #60
:+1: Can confirm this bug.

[2015-12-23 08:19] Alsmile opened #62 "How serve 404 into static file for example index.html or 404.html"
mount.mount("/", staticfile::Static::new(Path::new("../assets/index.html")));

I hope it serve the static file when the Path is file. (fn Path::is_file(&self) -> bool)
/   =>   index.html
/404 =>  index.html

more :
https://github.com/rackt/react-router/blob/latest/docs/guides/basics/Histories.md#configuring-your-server

[2015-12-26 17:46] Dashed commented on #62
I'm wondering how to do this as well.

[2015-12-26 18:22] Dashed commented on #62
@Alsmile This may interest you.

----

I glanced at the source code of `staticfile` and used the following, in my opinion, hacky approach; which was adapted from https://github.com/iron/router/blob/master/examples/custom_404.rs

This works for my js app that uses html5 (pop/push)state:

[code]

[2015-12-27 01:38] reem opened #65 "Update tests to iron-test 0.2"
Right now we are on 0.1.

[2015-12-29 03:44] #65 closed

[2015-12-29 04:15] reem commented on #60
Should be fixed on master, soon on crates.io.

[2015-12-29 04:15] #60 closed

[2015-12-29 04:28] Dashed commented on #60
Slick. Thanks @reem  :+1:

[2015-12-29 04:33] #52 closed

[2015-12-29 04:38] reem commented on #50
Yeah, you need to use Mount to strip the `odtp2pdf` from the url for the internal handlers, router will just route those exact routes.

[2015-12-29 04:38] #50 closed

[2015-12-29 04:38] reem commented on #49
Since this is the same issue as documented elsewhere I'm going to close it for organizational purposes.

[2015-12-29 04:38] #49 closed

[2015-12-29 04:39] reem commented on #45
Fixed, I believe.

[2015-12-29 04:39] #45 closed

[2015-12-29 04:41] reem commented on #46
I also don't see this behavior, closing for now, if you can reproduce I will be happy to reopen.

[2015-12-29 04:41] #46 closed

[2015-12-29 13:07] franza commented on #60
Cool, thanks!

[2016-01-10 16:18] cmr opened #70 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 16:30] untitaker commented on #70
Please only file once for all of iron.

[2016-01-10 16:31] cmr commented on #70
Each crate is licensed separately, that's not possible.

[2016-01-10 16:48] untitaker commented on #70
Afaik they're all licensed under the MIT, under a common organization.

On 10 January 2016 17:31:49 CET, cmr <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2016-01-10 18:13] panicbit commented on #70
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 19:48] cmr opened #71 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 19:52] tarcieri commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 20:31] untitaker commented on #71
See https://github.com/iron/iron/issues/417#issuecomment-170375012

[2016-01-10 20:55] panicbit commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 20:58] AerialX commented on #70
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 21:00] reem commented on #71
Remain waiting on iron/iron#417.

[2016-01-10 21:01] AerialX commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 22:25] upsuper commented on #70
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

(Actually, I don't think there is any current code from me, though)

[2016-01-10 22:26] upsuper commented on #71
What's the difference between this one and #70 ?

[2016-01-10 22:27] #70 closed

[2016-01-10 22:27] cmr commented on #71
Accidental dupe, sorry.

[2016-01-10 22:36] AndrewBrinker commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 23:40] blaenk commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 00:18] mneumann commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 00:19] mneumann commented on #70
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 03:28] michaelsproul commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 10:19] hannobraun commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 23:12] franza commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-12 19:42] theptrk commented on #70
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

Patrick

[2016-01-12 22:04] viraptor commented on #71
I license past and future 'staticfile' contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-03-25 16:32] SirVer opened #72 "Router example currently fails"
On a fresh checkout, running `cargo run --example router` yields these errors:

[code]

[2016-03-25 16:35] SirVer commented on #72
This is on `cargo 0.10.0-nightly (132b82d 2016-03-19)` using multirust.

[2016-03-25 16:42] SirVer commented on #72
Output for stable: `cargo 0.8.0-nightly (28a0cbb 2016-01-17)`

[code]

[2016-03-25 17:26] untitaker commented on #72
Please downgrade to router 1.0.0 :(

[2016-03-25 17:36] SirVer commented on #72
That does indeed fix it. But should this not work with iron 0.3 as well?

[2016-03-25 17:37] untitaker commented on #72
Yes, but staticfile currently pins iron to 0.2.

[2016-03-25 17:38] SirVer commented on #72
so does mount, it seems.

[2016-03-25 17:38] untitaker commented on #72
cc @reem

[2016-03-25 18:27] untitaker commented on #72
This is now fixed with staticfile=0.2.0

[2016-03-25 18:27] #72 closed

[2016-04-30 06:23] GildedHonour opened #73 "Router and Mount and StaticFile"
I have this:

    env_logger::init().unwrap();
    let mut hbse = HandlebarsEngine::new();
    hbse.add(Box::new(DirectorySource::new("./views/", ".hbs")));
    if let Err(r) = hbse.reload() {
      panic!("{}", r.description());
    }

    let mut router = Router::new();
    router.get("/", index);
    let mut chain = Chain::new(router);
    chain.link_after(hbse);

    let mut mount = Mount::new

[2016-04-30 13:05] #73 closed

[2016-06-25 18:47] shepmaster opened #74 "Support side-by-side compressed files?"
If I have a directory with the following contents:

[code]

It would be nice to serve the gzipped version when the client asks for `foo.css`. Does this seem like something that is in-scope for this library?

[2016-06-27 17:08] shepmaster opened #75 "Caching will rarely work on systems that have nanosecond-precision filetimes"
Debugging why my caching wasn't caching, I printed out these values:

[code]

Looking at [the code](https://github.com/iron/staticfile/blob/52265d5bada83a7bb770c0250c1286dc674e4ed8/src/static_handler.rs#L165-L166):

[code]

But the HTTP header will never have nanosecond precision (`If-Modified-Since:Mon, 27 Jun 2016 16:31:32 GMT`), so the comparison will fail unless the nanosecond field *happens*

[2016-07-08 08:12] wdv4758h opened #76 "Can not handle unicode files"
Currently, if you request a file with unicode name, it will find local file with percent-encoding name.  🙅
Obviously, this won't find anything ! 😢
IMHO, this is a big issue for many users. 📂

sample file names:
- ño
- 測試
- ☆☆

[2016-07-10 15:23] remko opened #78 "Static with fallback"
Hi,

I have several web apps where I have a chain where I first try to serve a static file, and if it doesn't exist, fallback to another handler. What's the recommended way to use such a fallback mechanism with staticfile? Right now, i defined my own custom handler that implements this cascading by delegating to static and catching 404, but I was wondering whether this is something that can be don

[2016-07-26 08:26] SkylerLipthay opened #79 "Publish 0.3.0"
0.3.0 is ready to go, but it looks like [this crate](https://crates.io/crates/staticfile) still has permission problems. @reem

[2016-07-27 02:33] #79 closed

[2016-07-28 08:12] nelsonjchen opened #80 "The `doc_server` example doesn't appear to work and has a few issues."
https://github.com/iron/staticfile/blob/2ac0d6048415bb9e9f4ae169248225df8cb1996b/examples/doc_server.rs#L7

For starters, I'm not sure why we should run `cargo test` to run an example.

Second, the `doc_server` binary would not be generated from these instructions. Perhaps we meant to say `cargo run --example doc_server`? Was `--example` introduced after this example?

That said, the "doesn't appe

[2016-07-29 04:18] Hoverbear commented on #80
According to `git blame` line 7 hasn't been added since sept 2014, so definitely. :)

I'm looking into this.

[2016-07-29 04:27] Hoverbear commented on #80
Hey!
I'm afraid I'm not having that problem. Here's what I did:

[code]

Then I browsed to `localhost:3000` and got this:

![example](https://cloud.githubusercontent.com/assets/130903/17237758/0b3766ba-550a-11e6-8916-4df43ad9efaf.jpg)

Can you please confirm you're experiencing something different? Can you tell me your `rustc` version, and your operating system?

[2016-07-29 04:29] Hoverbear commented on #80
7346d72b6120a2f71e6dc6a46c53e79baf1ef7b0 fixed the example commands.

[2016-07-29 04:30] nelsonjchen commented on #80
rustc 1.10.0 (cfcb716cf 2016-07-03)

OS X 10.11.6.

Case Insensitive HFS+

[2016-07-29 04:31] Hoverbear commented on #80
Ahh I'm on `rustc 1.12.0-nightly (936bfea94 2016-07-20)`. I'll try an older version...

[2016-07-29 04:31] nelsonjchen commented on #80
I can try a newer version too.

[2016-07-29 04:35] Hoverbear commented on #80
`rustc 1.10.0 (cfcb716cf 2016-07-03)` seems to work as well. I'm on Linux, do you know anyone who can test on OS X?

[2016-07-29 04:40] nelsonjchen commented on #80
I am indeed testing on master.

[2016-07-29 04:42] Hoverbear commented on #80
@nelsonjchen Can you confirm the `router` example is also not working for you?

[2016-07-29 04:54] nelsonjchen commented on #80
It works. The `hello` route works and ,😆, the off by one letter static file mount route "`doc`**s**" also appears to work.

[2016-07-29 04:55] nelsonjchen commented on #80
Hold on, that's with this rust version.

rustc 1.12.0-nightly (feeca9457 2016-07-26)

[2016-07-29 05:03] nelsonjchen commented on #80
😕 . Odd, now things seem to work, at least on this MacBook.

I could have sworn I was doing `cargo doc --open` and seeing docs and then wondering what's happening with `staticfile`'s `doc_server`. I still have another Macbook with the same symptom, but it's a few miles away and a few hours away in schedule for me to get to.

[2016-07-29 05:07] nelsonjchen commented on #80
That is with rustc 1.10.0 (cfcb716cf 2016-07-03). Just works. 😖 . I'll close this for now. I'm like 80% sure I'm doing something stupid here. If I can still reproduce it on that other MacBook, I'll be sure to comment.

[2016-07-29 05:07] #80 closed

[2016-07-29 05:34] nelsonjchen commented on #80
I left the lid open and I was able to remote into the other Macbook.

I was able to reproduce this issue. I checked I was running the current stable. I ran `cargo doc` and I got no output, so I guess it was up-to-date. I ran `cargo run --example doc_server`. I checked that I was accessing `http://127.0.0.1/doc/`, without the "s". I still got a blank page. I ran `cargo doc --open` and got the docs.

[2016-07-29 05:38] nelsonjchen commented on #80
Having done a diff, I guess 0.2.1 of iron/mount fixed my issue. 😄

[2016-07-29 07:11] Hoverbear commented on #80
Ahhh ha! Glad we caught it!

[2016-08-06 17:29] shepmaster commented on #78
Yep, this seems like it will be a common pattern for frontend-heavy web applications. If a static file exists, serve it, otherwise serve the HTML & JS for the application, which will handle the routing.

One complication I see is that we may want Iron to be able to check the URL against a whitelist to know if it is a valid path. If it isn't, then Iron should return a 404. After sketching some pseu

[2016-08-06 18:55] shepmaster commented on #78
Something similar to this appears to work:

**remap.rs**

[code]

**main.rs**

[code]

To be more complete, it should use the same underlying glob and route recognizer libraries as Iron to allow for the syntax to match.

[2016-08-15 12:35] TheNeikos commented on #75
That seems correct by the spec: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.25

[2016-08-15 12:49] shepmaster commented on #75
@TheNeikos could you clarify what "that" is in your sentence? You could mean "caching should rarely work" is correct, or "ignoring nanoseconds" is correct.

[2016-08-15 13:00] untitaker commented on #75
We could switch to ETags to preserve nanosecond precision. However, your fix is correct (I assume there is no way to represent nanoseconds in HTTP dates).

[2016-08-15 13:05] TheNeikos commented on #75
The latter of course

[2016-08-15 13:06] untitaker commented on #78
You can write a handler which tries two handlers and returns the first one that doesn't 404.

[2016-08-17 15:42] Hoverbear commented on #75
@shepmaster That change LGTM please feel free to make a PR. I'll merge it when the tests pass. :)

[2016-08-17 15:44] shepmaster commented on #75
@Hoverbear uhh, didn't [you already merge it](https://github.com/iron/staticfile/pull/82)? My bad for not linking to the issue though!

[2016-08-17 20:01] Hoverbear commented on #75
LOL. You're right!

[2016-08-17 20:01] #75 closed

[2016-09-02 13:46] ehiggs commented on #54
Was this fixed by #57? If so, let's close it. Thanks!

[2016-09-02 16:01] untitaker commented on #54
The performance problem specifically mentioned in the OP was fixed, but IMO it should also return a errorcode if something other than `{GET, HEAD}` is used.

[2016-09-10 22:43] reem commented on #74
I think that's probably too much magic, unless we can figure out a more general way to express this idea.

[2016-09-10 22:48] untitaker commented on #74
I don't think staticfile should simply assume that those two files have the same content. What's wrong with compressing on-the-fly?

[2016-09-11 14:24] shepmaster commented on #74
Nothing is *wrong* with it, but there has to be increased overhead (not that I've benchmarked it though). If someone uses a compression algorithm like zopfli, which uses more time to compress in exchange for smaller files, then the delay would be even more noticeable. Additionally, compressing the same static file millions of times is inefficient compared to compressing it once.

On-the-fly compre

[2016-09-11 14:29] untitaker commented on #74
From what I understand most of this is obliterated by implementing the `X-Sendfile` header and offloading everything to the reverse proxy that is likely to sit in front of servers like Hyper's (nginx).

[2016-09-11 16:12] shepmaster commented on #74
Ah, I was not aware that Hyper / Iron had no desire to participate at this layer of the stack. I can certainly replace or supplant Hyper / Iron with nginx. That does seem to place the staticfile middleware in a strange place though, if serving those types of files is better served by a different piece of software.

[2016-09-11 17:17] untitaker commented on #74
X-Sendfile is particularly popular with webframeworks in slower dynamic
languages as there is little point executing some Python code just to serve
static files. I don't know if Rust as a systems programming language is in a
similar position, but it seems wasteful to reimplement support compression,
range requests, ETags, If-Match, ... in Rust when all this can be done in a
framework- and language

[2016-09-11 17:39] shepmaster commented on #74
This is 100% a valid thing to aim for, but I would suggest updating the README with text along these lines to help people understand from the start that this project has an explicit non-goal of replacing solutions such as Nginx etc. when it comes to performance.

From my end of the stick, that's part of the appeal of Rust — reimplementing things. Specifically, I would have wanted Iron (perhaps pow

[2016-09-11 18:01] shepmaster commented on #74
And perhaps I might be blinded the other way 😉 Perhaps the "right" solution is to implement something like this atop Hyper (or whatever Tokio grows into) and continue to put it before something more application-focused.

Ditto for Rails. You generally switch to an alternate and put Nginx in front, as you mentioned.

However, that doesn't necessarily strike me as The Way Things Must Be. Having neve

[2016-09-13 11:08] ehiggs commented on #54
Sure, so if the request is not in `{GET, HEAD, PUT, POST, DELETE, TRACE, CONNECT, PATCH}` then it should return `400 BAD REQUEST`. If the request is not in `{GET, HEAD}` then iron can return `405 METHOD NOT ALLOWED`. Separate ticket, surely.

[2016-09-13 11:08] #54 closed

[2016-09-13 11:08] ehiggs opened #86 "Correct error codes for unsupported requests."
If the request is not in {GET, HEAD, PUT, POST, DELETE, TRACE, CONNECT, PATCH} then it should return 400 BAD REQUEST.

If the request is not in {GET, HEAD} then iron can return 405 METHOD NOT ALLOWED.

(On from #54).

[2016-09-13 13:32] untitaker commented on #86
Why not return 405 everywhere?

[2016-09-13 14:22] ehiggs commented on #86
Well if you try to make a request using `GETT` then it's a bad request. If you make a request for `TRACE` and iron/staticfile doesn't support it then it's a method which is not allowed. At least, I think so.

[2016-09-13 14:24] untitaker commented on #86
Do you think that because the GETT method can't possibly exist? There are a few RFCs out there that define their own methods. Most notably WebDAV and CalDAV with MOVE, COPY, MKCOL, MKCALENDAR, PROPFIND

[2016-09-13 14:25] ehiggs commented on #86
That's what I meant. I guess 405 does make sense everywhere then.

[2016-09-13 14:31] ehiggs commented on #86
You're right:

[code]

[2016-09-22 12:46] untitaker opened #87 "Split staticfile into two APIs"
Currently staticfile consists of two main features:

1. Given a filepath, serve a file with proper etag headers, handle if-match, range requests, etc. automatically (no idea if all of this is actually implemented)
2. Given a folder, map all requests to a file within that folder

Currently staticfile exposes only 2., I'd like it to expose 1. as completely independent feature, for cases where I want

[2016-09-22 15:27] Hoverbear commented on #87
Sounds reasonable to me.

[2016-10-26 13:46] mrLSD opened #88 "Documentation broken"
Look at that:
http://ironframework.io/doc/staticfile/

[2016-10-26 16:24] Hoverbear commented on #88
Cute! I think @reem is still looking for the ironbot keys.

In the meantime you can use https://docs.rs/staticfile/0.3.0/staticfile/

[2016-10-26 21:13] trotter commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-10-26 22:06] brycefisher commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-11-08 06:31] hayatoito opened #89 "A parent directory of the root can be accessed"
It looks that `RequestedPath::new()` uses the result of `decode_percents(...)` without any filtering.
That allows a potential access to a parent directory of the Static's `root`.

For example, the following request might return the contents of `/etc/passwd` file.
[code]

I guess this behavior is unintentional because this could be an security vulnerability.

[2016-11-08 06:58] Hoverbear commented on #89
Hm, I would feel that this is a security risk yes.

Would you like to make a patch for this?

[2016-11-08 08:00] scottlamb commented on #87
I'd love to also have a layer 0. which handles GET and HEAD serving (including conditional GETs and range requests) on top of an abstract "entity" (HTTP's term) without involving the filesystem.

Go provides something like this; see [http.ServeContent](https://golang.org/pkg/net/http/#ServeContent).

I needed 0. for my security camera NVR project, which dynamically creates `.mp4` files based on it

[2016-11-08 12:18] hayatoito commented on #89
Okay. Let me try.

[2016-11-08 13:00] untitaker commented on #87
@scottlamb You can pass arbitrary `T: Read` to `Response::with`, since they all implement `Modifier`. You need to set `Content-Type` manually, but the response body already gets omitted automatically in the case of a HEAD request.

[2016-11-08 15:18] scottlamb commented on #87
Oh. That's totally wrong for my use case, actually, it introduces another copy here:

[code]

I'm hoping a future version of hyper will allow me to just hand over chunks of `&[u8]` slices with ownership promised in some way; I was just making a proposal for that on [hyper issue 934](https://github.com/hyperium/hyper/issues/934#issuecomment-259068970).

And I'm hoping iron will provide a layer abov

[2016-11-08 15:22] Hoverbear commented on #89
You're the best. :)

[2016-11-08 17:15] untitaker commented on #87
This is not copying to a new section in RAM or any storage medium, it is writing to the output stream.

[2016-11-08 17:22] scottlamb commented on #87
It takes my `&[u8]`, copies it into an internal buffer within `io::copy`, and then copies it into hyper's output buffer. There are two copies, or one more than is necessary with the interface that hyper currently provides. Here's the definition of `std::io::copy`:

[code]

[2016-11-08 17:32] untitaker commented on #87
If performance is that much more important than convenience, why not override `response.body` with your own `WriteBody` impl?

[2016-11-08 17:40] scottlamb commented on #87
Why should it be necessary to choose between the two? The `serve` interface I showed above provides both. I was thinking this was generic code within iron's scope of responsibility, but if you disagree I'll just do it in a separate crate.

[2016-11-08 18:00] untitaker commented on #87
I'm just saying that Iron already provides the necessary low-level access to Hypers APIs for your project. One variant (using a T: Read as Modifier) is a shortcut for the other (manually setting the response body), and IMO covers a majority of the usecases with very little boilerplate and very little complexity in Iron as well.

I'm not opposed to your abstraction at all, at the same time I would

[2016-11-08 21:40] #89 closed

[2016-11-08 21:43] untitaker commented on #89
Released 0.3.1. Thanks @hayatoito!

[2016-11-09 01:24] hayatoito commented on #89
My pleasure. Thank you for merging.

[2016-11-09 01:29] scottlamb commented on #87
Ahh. Yes, I think you're right that I could implement `serve` on top of iron instead of directly on top of hyper. I did the latter in part because I wanted to start at the bottom as I learned the pieces, and in part because iron didn't add anything I needed at the moment. If iron had provided this for me, I would have happily taken the extra dependency right away...

When you say "shouldn't be a p

[2016-11-09 09:14] untitaker commented on #87
If you want to build a high-level abstraction around Last-Modified you're probably going to depend on the time crate.

[2016-11-10 04:18] scottlamb commented on #87
That's true. Currently my `serve` implementation doesn't depend on the time crate (only hyper), but I suppose I should be setting `Date` myself and ensuring `Last-Modified` is consistent with it rather than relying on hyper setting `Date` later on; as is I'm not compliant with RFC 2616 section 14.29:

[code]

But why is this a problem? hyper depends on time. So what problem does it create for iron

[2016-11-10 10:01] untitaker commented on #87
Ah, I was assuming there's an extra cost because staticfile has everything related to that functionality within an optional feature. It appears https://github.com/alexcrichton/filetime would come as a new dependency. I don't think that's necessary for the abstraction, but probably for the impls that should IMO be included.

[2016-11-10 10:02] untitaker commented on #87
Anyway at this point I'd like to see a PoC pull request or new crate that does what you want to do. We can then move that into staticfile and expose the new API as well.

[2016-11-10 16:03] scottlamb commented on #87
Sounds good. I will start polishing my code and adapting it to iron. (At my usual work-a-little-bit-every-night-after-my-kid-goes-to-bed pace...)

[2016-11-21 08:48] lfairy commented on #88
Looks like we've [recovered the bot](https://github.com/iron/iron/issues/483#issuecomment-261745590) now!

[2016-11-22 08:49] Hoverbear commented on #88
\o/

[2016-12-23 21:18] scottlamb commented on #87
Quick note: I still haven't adapted my code to the Iron interface (I'm slow and trying to do a lot of things with my project at once), but I have at least extracted it into a separate crate and published it to github as (scottlamb/http-entity)[https://github.com/scottlamb/http-entity], so you can look at the current code if you're curious.

[2016-12-30 11:49] zoumi commented on #88
The doc  looks like plaintext.Is it still broken?

[2017-01-01 13:56] Hoverbear commented on #88
@zoumi In the meantime please refer to https://docs.rs/staticfile/0.3.0/staticfile/

[2017-02-03 06:31] ojensen5115 opened #93 "Support HTTP Byte Serving via Ranges header"
Currently, if you have a `<video>` tag whose `src` is served through `staticfile`, seeking doesn't work. This can be fixed by supporting [Byte Serving](https://en.wikipedia.org/wiki/Byte_serving).

[2017-02-03 07:31] Hoverbear commented on #93
This would be awesome! :) If anyone wants to pick this up please let us know and we can try to help!

[2017-02-03 10:43] xobs opened #94 "README.md example currently fails"
If I copy the example from README.md into a main.rs file and run it, the resulting files does not build.  I get the following output:
[code]

This is using the example from README.md:

[code]

My Cargo.toml contains:

[code]
This was built using the latest Rust 1.15.

[2017-02-04 13:18] Cobrand commented on #94
I have the same problem, however `cargo run --example router` works well though (even though it's basically the same code)

[2017-02-04 13:31] Cobrand commented on #94
Found it : `staticfile` has still the old dependencies on crates.io ( iron 0.4 , mount 0.2 ), @untitaker can we get dependencies bump and a version bump on crates.io as well ?

@xobs : in the meanwhile, replace `staticfile = "*"` by

[code]

[2017-02-04 20:55] untitaker commented on #94
Blocked by latest iron-test version on Crates.io not supporting Iron 0.5. @reem
please move project to iron org

On Sat, Feb 04, 2017 at 05:31:48AM -0800, Cobrand wrote:

[2017-02-05 09:29] onur commented on #94
@untitaker he actually moved iron-test to iron organization, but someone needs to release a new version.

[2017-02-05 09:32] untitaker commented on #94
Yeah i can't do that

On 5 February 2017 10:29:47 CET, Onur Aslan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-05 12:57] reem commented on #94
Just did `cargo owner --add github:iron` which I believe should let people in the iron organization release new versions. Please let me know if that did not work!

[2017-02-05 13:03] untitaker commented on #94
Yeah that didn't work, unfortunately.

[2017-02-05 13:44] reem commented on #94
I've recreated the iron organization `dev-team` team and am attempting `cargo owner --add github:iron:dev-team`, but cargo is telling me I have to be part of the team (which I am) to add it. I think this is likely to be an ephemeral error (since I just created the team) so I'll try again in an hour or so.

[2017-02-05 16:21] reem commented on #94
Alright, for whatever reason I am still not able to add `dev-team` to the package, but I have released `iron-test` `0.5.0`.

[2017-02-05 17:14] untitaker commented on #94
released 0.4.0

On Sun, Feb 05, 2017 at 08:21:48AM -0800, Jonathan Reem wrote:

[2017-02-06 14:14] Cobrand commented on #94
I guess you can close that @xobs

[2017-02-06 14:24] #94 closed

[2017-02-06 18:33] Cobrand commented on #93
I'd like to pick this up. If I run into trouble I'll let you know.

Funnily enough, video playback doesn't work _at all_ with staticfile, let alone seeking. Any video just refuses to play, either via firefox or via mpv. The same video works if played with firefox or mpv and if the video is hosted with an apache. I wonder if it's related ?

I will try to dig this up and come back with some news.

[2017-02-06 18:43] untitaker commented on #93
I suspect usage of X-Sendfile will fix this too.

[2017-02-06 18:58] ojensen5115 commented on #93
@Cobrand on my end, video playback works fine (in Chrome), it's just seeking that doesn't work. (note if you don't set `autoplay` and/or `controls` in the `<video>` tag, you'll need to tell the video to play via context menu.

[2017-02-06 19:22] Cobrand commented on #93
Turns out that I tested with mp4, and it doesn't work in iron at all (probably because . webm either works without seeking in mpv, or hangs in the middle for long videos (> 30s). So that's definitely our issue here.

For info, the difference between Iron and Apache :

#### Iron

[code]

#### Apache

[code]

[2017-02-06 22:08] Cobrand commented on #93
So I dug a little bit into how this stuff works, and I have some questions.

Basically if you answer with the `Accept-Range: bytes` header, you must be able to receive and process the [`Range` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range) (event though you can still ignore the `Range` header).
Basically a client can request things like these (one line = one different req

[2017-02-07 12:49] untitaker commented on #93
You could just ignore the range request if it's composed of multiple ranges for now.

[2017-02-13 15:19] Cobrand commented on #93
Can someone have a look at PR #95 ?

[2017-02-19 19:52] onur opened #96 "Connection closed after 1GB transfer"
I am not sure this is a bug in Iron or staticfile but I am trying to use staticfile for large files but connection is getting closed after 1084002944 bytes. You can test this url: https://docs.rs/backups/cratesfyi-2017-02-11.gz This file is served by staticfile and connection is always closed at byte 1084002944.

[2017-04-13 23:20] ojensen5115 commented on #93
I'm very excited to see this -- it turns a simple "serve this folder" webserver into something significantly more useful than python's equivalent, especially in the case of e.g. a home media server.

[2017-04-13 23:36] Cobrand commented on #93
I totally forgot that I had a PR open about that ... I'll try to find some time to get this PR finally merged

[2017-05-22 01:19] kpcyrd opened #97 "Support client caching"
I'm trying to server assets using this crate, but I've noticed the server does not send an Etag. This would cause the client to request the asset every time it's referenced (so, on every page load).

The express framework is sending an etag on static mounts, the client would memorize this and include it in future requests, if the server notices the file hasn't changed, it's sending back an 304.

T

[2017-05-22 07:47] vmchale commented on #97
If you add

[code]

to your Cargo.toml, it will enable caching.

[2017-05-22 08:29] vmchale commented on #97
Here is an example:

[code]

[2017-05-22 12:48] Hoverbear commented on #97
Perhaps we should add some documentation of this!

[2017-07-09 21:35] agersant opened #99 "CI doesn't run unit tests for the 'cache' feature"
Not sure if this is intentional or not, Travis runs `cargo test` without any feature flags. There's currently two tests related to the caching feature that are failing but not monitored.

[2017-07-15 23:37] serprex commented on #74
In [another project](https://github.com/serprex/openEtG/blob/master/srv/file.js) I resolved this by caching the compressed version. Most clients will support gzip so falling back to reloading the file for clients who will only accept plaintext seems reasonable. This has the bonus of reducing the size of the cache

[2017-07-16 00:58] shepmaster commented on #74
I also [implemented this myself for the playground](https://github.com/integer32llc/playground-middleware/blob/master/src/staticfile.rs)

[2017-09-27 23:18] shepmaster commented on #78
And here's another solution, years later

[code]

[2017-09-28 05:56] ernestas-poskus commented on #78
maybe it's worth to create middleware's or alike repository under /iron organization to stock these treasures?

[2017-11-17 17:25] martincalvert commented on #94
This appears to be back when using iron `0.6.0`

[2017-11-18 11:47] najamelan opened #101 "I get trait Handler not in scope for Static???"
I just try to serve 1 static file, not mount a folder. I tried to figure out from the docs and examples how to do that, but didn't really find out, so looking in the code I saw `Static` implements handler, so I just try to forward the call to handle, but the compiler won't have it and I don't understand why. My handler in itself works.

[code]

I get the following error:
[code]

The trait obviousl

[2017-12-07 06:01] durka commented on #101
You might have two different versions of iron (therefore two versions of `Handler`) -- check your Cargo.lock to be sure that your direct dependency and staticfile's dependency on iron are the same version.

[2017-12-09 02:24] jessbowers commented on #94
@martincalvert can you post the Cargo.toml that worked for you?

[2017-12-09 19:21] najamelan commented on #101
Ok,
thanks for the hint, I didn't think of that at all. Surely that's what went wrong.

[2017-12-09 19:21] #101 closed

[2017-12-12 00:26] martincalvert commented on #94
@jessbowers  I believe this is what i ended up with https://github.com/SensorArray/sensor_rust/blob/master/Cargo.toml

[2017-12-29 18:50] Keats commented on #94
I believe the issue is those lines https://github.com/iron/staticfile/blob/master/Cargo.toml#L15-L16 but Iron 0.6 is not compatible with Iron 0.5 apparently so try a combination of `cargo clean` and `cargo update` to fix it

[2018-02-13 19:54] AlbertoElias opened #103 "Not working with iron 0.6"
I recently updated to iron 0.6, so I updated mount to 0.4 and staticfile to 0.5, and now it won't compile with the following error:

`the trait for<'r, 'r, 'r> std::ops::Fn<(&'r mut iron::Request<'r, 'r>,)> is not implemented for staticfile::Static`
`required because of the requirements on the impl of iron::Handler for staticfile::Static`

on this line:

`mount.mount(prefix, Static::new(Path::new(

[2019-02-20 17:01] zgtm commented on #103
Have you tried a `cargo update` to see whether you had some old crates lying around?

Can you provide a minimal example? `staticfile` seems to work fine for me with `iron` 0.6. Maybe the problem only occurs in combination with `mount`?

[2019-10-23 11:49] dvberkel commented on #103
I had a similar problem and `cargo update` suggestion  worked for me

[2022-07-24 20:52] EduardoBautista commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2022-07-29 00:39] brycefisher commented on #71
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.